@import "../../scss/media-queries.scss";

.list-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5em;
  transition: transform .5s;
  cursor: pointer;

  &__title {
    margin-top: 12px;
  }

  @include desktop-min {
    width: 100%;
  }

  @include tablet-only {
    width: 100%;
  }

  @include tablet-min {
    width: 100%;
  }

  @include mobile-ls-min {
    width: 80%;
  }

  @include mobile-only {
    width: 60%;
    padding: 0.5rem;
  }
}

img {
  width: 100%;
}

.list-content:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
