<form class="container" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" autocomplete="off">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput placeholder="Enter your username" formControlName="username" required>
      <mat-error *ngIf="username.invalid">{{validateUsername()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <!-- <mat-error *ngIf="email.invalid">{{validateEmail()}}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your First Name" formControlName="firstName" required>
      <!-- <mat-error *ngIf="email.invalid">{{validateEmail()}}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your Last Name" formControlName="lastName" required>
      <!-- <mat-error *ngIf="email.invalid">{{validateEmail()}}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password"
        required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{validatePassword()}}</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" class="form-button" mat-raised-button color="primary"
        [disabled]="!registerForm.valid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
