<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a class="list-item" mat-list-item routerLink="">
        <i class="material-icons">
          star_border
        </i>
        Popular</a>
      <a class="list-item" mat-list-item routerLink="">
        <i class="material-icons">
          whatshot
        </i> Top Rated
      </a>
      <a class="list-item" mat-list-item routerLink="">Upcoming</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-form-field class="search-form" floatLabel=never>
        <input (focus)="checkPlaceholder()" (blur)="checkPlaceholder()" matInput placeholder=" {{placeHolder}} ">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="nav-details">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
