.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.search-form {
  width: 40%;
  font-size: 1rem;
  margin-left: 30px;
}

mat-nav-list {
  margin-top: 20px;
}

.list-item {
  height: 90px !important;
  text-align: center;
}

.icon-container {
  display: block;
  white-space: nowrap;
}
